<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>RMS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <context-param>
    <param-name>/menu.do</param-name>
    <param-value>jp.co.sqt.controller.MenuAction</param-value>
  </context-param>
  <context-param>
    <param-name>/loginout.do</param-name>
    <param-value>jp.co.sqt.controller.LogInOutAction</param-value>
  </context-param>
  <context-param>
    <param-name>/test.do</param-name>
    <param-value>jp.co.sqt.controller.TestAction</param-value>
  </context-param>
  <context-param>
    <param-name>/detail.do</param-name>
    <param-value>jp.co.sqt.controller.MenuAction</param-value>
  </context-param>
  <context-param>
    <param-name>/attendance.do</param-name>
    <param-value>jp.co.sqt.controller.AttendanceAction</param-value>
  </context-param>
  <context-param>
    <param-name>/account.do</param-name>
    <param-value>jp.co.sqt.controller.AccountAction</param-value>
  </context-param>
  <context-param>
    <param-name>/education.do</param-name>
    <param-value>jp.co.sqt.controller.EducationAction</param-value>
  </context-param>
  <context-param>
    <param-name>/calender.do</param-name>
    <param-value>jp.co.sqt.controller.CalenderAction</param-value>
  </context-param>
  <context-param>
    <param-name>/corporation.do</param-name>
    <param-value>jp.co.sqt.controller.CorporationAction</param-value>
  </context-param>
  <context-param>
    <param-name>/report.do</param-name>
    <param-value>jp.co.sqt.controller.ReportAction</param-value>
  </context-param>
  <context-param>
    <param-name>/duties.do</param-name>
    <param-value>jp.co.sqt.controller.DutiesAction</param-value>
  </context-param>
  <context-param>
    <param-name>/topics.do</param-name>
    <param-value>jp.co.sqt.controller.TopicsAction</param-value>
  </context-param>
  <context-param>
    <param-name>/mypage.do</param-name>
    <param-value>jp.co.sqt.controller.MypageAction</param-value>
  </context-param>
  <context-param>
    <param-name>/mail.do</param-name>
    <param-value>jp.co.sqt.controller.MailAction</param-value>
  </context-param>
  <context-param>
    <param-name>/technologylevel.do</param-name>
    <param-value>jp.co.sqt.controller.TechnologyLevelAction</param-value>
  </context-param>
  <context-param>
    <param-name>/interview.do</param-name>
    <param-value>jp.co.sqt.controller.InterviewAction</param-value>
  </context-param>
  <context-param>
    <param-name>/question.do</param-name>
    <param-value>jp.co.sqt.controller.QuestionAction</param-value>
  </context-param>
  <context-param>
    <param-name>/password.do</param-name>
    <param-value>jp.co.sqt.controller.PasswordAction</param-value>
  </context-param>
</web-app>