@charset "utf-8";

/*
 *　ページ全体の枠組み、書式設定
 */

#scrollframe {
	width: 1270px;
}

div .text {
	width: 400px;
	vertical-align: bottom;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	text-align: left;
}
/*
　* header内の画面構成用テーブル
　*/

.table td:nth-child(1) {
	width: 1%;
	}

.table td:nth-child(2) {
	width: 18%;
}

.table td:nth-child(3) {
	width: 20%;
	text-align: left;
}

.table td:nth-child(4) {
	width: 30%;
	text-align: left;
}

.table td:nth-child(5) {
	width: 10%;
}

.table td:nth-child(6) {
	width: 10%;
}

/*
　*　Body内の画面構成用テーブル
　*/

table.errbox, table.errbox2 {
	margin-left: auto;
	margin-right: auto;
}

table.err {
	text-indent: 10px;
	color: red;
}